
.btn:hover
{
    background-color: rgb(160, 191, 211)!important;
}
.btn{
    background-color: rgb(175, 205, 240)!important;
    cursor: pointer;
}
.btn:target{
    background-color: rgb(185, 106, 209)!important;
}